<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="partyplaner.partyplaner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_72"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_72"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LogIn.LogInActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogIn.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".poll.CreatePoll"
            android:configChanges="orientation"
            android:label="@string/poll_label_create"
            android:parentActivityName=".EventMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".poll.Poll"
            android:configChanges="orientation"
            android:label="@string/poll_label_poll"
            android:parentActivityName=".EventMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventMainActivity"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="partyplaner.api.APIService"
            android:exported="false" />

        <activity
            android:name=".Veranstaltung.EditEventActivity"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Veranstaltung.InviteUser"
            android:configChanges="orientation"
            android:parentActivityName=".EventMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.EditProfileActivity"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Contacts.ShowContact"
            android:parentActivityName=".EventMainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>